/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3em;
    font-size: 14px;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon {
    font-size: 14px;
    margin-right: 3px;
}

.input-custom {
    border: none;
    cursor: pointer;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    background-color: inherit;
}
